@media (max-width:1200px) {
    
    *{
        margin:0;
        padding:0;
        box-sizing: border-box;
    
    }
    html,body {
            font-size: 65.5%;
    }
    
    body{
    
        background-color: #B3B3B3;
    }
    
    .wrapper{
    
        margin: 0rem 10rem;
        /* border: 1PX solid red; */
        
    }
    
    .header{
    
        /* margin: 10px; */
        padding-top: -2vh;
        padding-bottom: 1.5rem;
        font-size: 60px;
        font-family: cursive;
        font-weight: bold;
        text-align: center;
        color:peachpuff;
        text-shadow: 3px 3px brown;
        background-color: #FFF
    }
    
    .main-nav{
    
        background-color:#292929;
    }
    .main-nav>ul{
        /* padding-left: 1vw; */
        list-style-type: none;
    }
    
    .main-nav>ul>li{
        padding: 1.5rem 3.5rem;
        display: inline-block;
    
    }
    .main-nav>ul>li{
        padding-left: 3vw;
        
    }
    
    .main-nav>ul>li>a{
    
        color: white;
        text-decoration: none;
        font-family: cursive;
        font-size: 1.7rem;
        font-weight:800;
    }
    
    .main-nav>ul>li:hover{
    
        background-color:rgb(20, 155, 233);
    }
    
    .container{
    
        /* border: 3px solid red; */
        background-color: #FFF;
        
    
    }
    
    
    
    .content{
    
        
        font-size: 1.6rem;
        width: 80%;
        float: left;
        /* min-height: 1rem; */
        text-align: justify;
    }
    #im{
    
        display: block;
        min-width: 66.7vw;
        /* max-width: 228px; */
        
        max-height: 55vh;
        padding-top: 0px;
        padding-left: 0px;
        
        /* margin-left: auto;
         margin-right:  auto;  */
      
       
        
    }
    .container .content > p{
        
        padding-top: 3vh;
        text-indent: 5rem;
    }
    
    
    
    .right-sidebar{
    
        width: 20%;
        float: right;
        min-height: 80.7vh;
       position: relative;
        /* font-size: 95%; */
        /* overflow:scroll; */
        
       
         border-left: 1px solid #B3B3B3;
    }
    
    .right-sidebar>h3{
        font-size: 1.6rem;
        text-align: center;
        font-family: cursive;
        background-color: rgb(43, 177, 255);
        color: #FFF;
        border-top-right-radius: 20px;
        margin-top: 2px;
        
        /* border-left: 1px solid #B3B3B3; */
    }
    
    .right-sidebar>p{
        /* border-left: 1px solid #B3B3B3; */
        text-align: center;
        text-align: justify;
         padding: 1rem;
         padding-bottom: vh;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
        font-size: 16px;
        font-weight :551;
        
    }
    .container p{
        padding: 2vh 1vw ;
        text-indent:3vw ;
    }
    
    .container::after{
    
        content: " ";
        display: block;
        clear: both;
        *zoom: 1;
    }
    
    .footer{
        margin-top: 1vh;
        background-color: #292929;
        color: #FFF;
        text-align: center;
        padding: 1rem;
        font-family: cursive;
        font-size: 1.5rem;
    
    }
    .footer>a{
        z-index: 10000;
        text-decoration: none;
        color: #FFF;
        
       
    }
    .footer>a:hover{
    
        color: rgb(0, 255, 234);
    }
}