@media (orientation:landscape) {
    
    html,body {
        font-size: 55.5%;
}



.wrapper{

    margin:  0;
    /* border: 1PX solid red; */
    
}



.main-nav{
    z-index: 10;
}

.main-nav>ul{
    /* padding-left: 1vw; */
    list-style-type: none;
    text-align: center;
}

.main-nav>ul>li{
    padding: 1.5rem 5rem;
    display: inline-block;

}
.main-nav>ul>li:first(){
    padding-left: 2.5rem ;
   

}

.main-nav>ul>li>a{

    color: white;
    text-decoration: none;
    font-family: cursive;
    font-size: 2rem;
    font-weight:800;
}

.main-nav>ul>li:hover{

    background-color:rgb(20, 155, 233);
}

.container{

    /* border: 3px solid red; */
    background-color: #FFF;
    

}



.content{

    
    font-size: 1.6rem;
    width: 75%;
    
    /* min-height: 1rem; */
    text-align: justify;
}
#im{

    display: block;
    width: 93.5%;
    /* max-width: 228px; */
    
    max-height: 55vh;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    
    /* margin-left: auto;
     margin-right:  auto;  */
  
   
    
}
.container p{
    width: 95%;
    padding: 4vh 2vw 4vh 2vw  ;
    text-indent:3vw ;
    font-weight: normal;
}


.right-sidebar{
z-index: 0;
    width: 29.2vw;
    float: right;
    max-height: 40vh;
    top: 117px;right: 0;
    margin-right: 0.4vw;
    margin-left: 0.5vw;
    padding-top: 0vh;
    padding-bottom: 2vh;
   position: absolute;
    /* font-size: 95%; */
    /* overflow:scroll; */
    border-left:0;
    margin-bottom:-5vh ;
   
     
}
#container::after{

    content: " ";
    display: block;
    clear: both;
    *zoom:1;

}

.right-sidebar>h3{
    font-size: 3rem;
    text-align: center;
  
    border-top-right-radius: 10px;
    padding-left: 1vw;
    margin-top: 5vh;
    
    /* border-left: 1px solid #B3B3B3; */
}

.right-sidebar>p{
    /* border-left: 1px solid #B3B3B3; */
    text-align: center;
    text-align: justify;
    padding: 4vh 0.5rem;
    font-family:'Times New Roman', Times, serif; 
    font-size: 1.6rem;
    text-indent: 0;
padding-bottom: 13vh;
border-left: 1px solid #B3B3B3;

    
}


.footer{
margin: 0;

    padding:  1rem;
    font-family: cursive;
    font-size: 2rem;

}
#foot{
    margin-top: -250vh;
}
}