*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
html,body {
        font-size: 65.5%;
}

body{
    
    background-color: #B3B3B3;
}

.wrapper{
    width: 1200px;
    margin: 0rem auto;
    border: 1PX solid red;
    
}

.header{

    /* margin: 10px; */
    
    padding-top: -2vh;
    padding-bottom: 1.5rem;
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
    color:peachpuff;
    text-shadow: 3px 3px brown;
    background-color: #FFF
}

.main-nav{

    background-color:#292929;
}
.main-nav>ul{
    /* padding-left: 1vw; */
    list-style-type: none;
}

.main-nav>ul>li{
    padding: 1.5rem 3.5rem;
    display: inline-block;

}
.main-nav>ul>li{
    padding-left: 3vw;
    
}

.main-nav>ul>li>a{

    color: white;
    text-decoration: none;
    font-family: cursive;
    font-size: 1.7rem;
    font-weight:800;
}

.main-nav>ul>li:hover{

    background-color:rgb(20, 155, 233);
}

.container{

    /* border: 5px solid rgb(0, 60, 255); */
    background-color: #FFF;
    margin-bottom:-1vh ;

}



.content{

    /* border: 5px solid rgb(30, 255, 0); */
    font-size: 1.6rem;
    width: 80%;
    float: left;
    /* min-height: 1rem; */
    text-align: justify;
}
#im{

    display: block;
    width: 100%;
    /* max-width: 228px; */
    object-fit: fill;
    max-height: 55vh;
    padding-top: 0px;
    padding-left: 0px;
    
    /* margin-left: auto;
     margin-right:  auto;  */
  
   
    
}
.container > .content > p{
    /* width: %; */
    padding-top: 3vh;
    padding-right: 1vw;
    padding-left: 1vw;
    text-indent: 5rem;
}



.right-sidebar{

    width: 17.5%;
    float: right;
    min-height: 75.7vh;
   position: absolute;
   right: 5.75vw;top: 24.65vh;
    /* font-size: 95%; */
    /* overflow:scroll; */
    
   
     border-left: 1px solid #B3B3B3;
}

.right-sidebar>h3{
    font-size: 1.6rem;
    text-align: center;
    font-family: cursive;
    background-color: rgb(43, 177, 255);
    color: #FFF;
    border-top-right-radius: 20px;
    margin-top: 0px;
    
    /* border-left: 1px solid #B3B3B3; */
}

.right-sidebar>p{
    /* border-left: 1px solid #B3B3B3; */
    text-align: center;
    text-align: justify;
     padding: -1rem;
     padding-bottom: vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size: 16px;
    font-weight :551;
    
}
.container p{
    padding: 2vh 1vw ;
    text-indent:0vw ;
}

.container::after{

    content: " ";
    display: block;
    clear: both;
    *zoom: 1;
}

.footer{
    margin-top: 1vh;
    background-color: #292929;
    color: #FFF;
    text-align: center;
    padding: 1rem;
    font-family: cursive;
    font-size: 1.5rem;

}
.footer>a{
    z-index: 10000;
    text-decoration: none;
    color: #FFF;
    
   
}
.footer>a:hover{

    color: rgb(0, 255, 234);
}



/*------------------------------------------Less than 1200px----------------------------------------------------------*/

@media (max-width:1200px) { 
 
    .right-sidebar{
        width: 18.9%;
        right: 0vw;top: 21.8vh;
        min-height: 74.8vh;
    }
    
}


/*------------------------------------------Less than 768px----------------------------------------------------------*/
@media (max-width:991px) { 
    
    .wrapper{
        width: 991px;
       
    }

    .right-sidebar{
        
        right: 0vw;top: 28.1vh;
        min-height: 81vh;
    }
}




/*------------------------------------------Less than 768px----------------------------------------------------------*/
@media (max-width:767px) { 
 
    .wrapper{
        width: 767px;
        
          
    }
    .right-sidebar{
        width: 18.9%;
        right: 0.8vw;top: 36.5vh;
        min-height: 73.8vh;
        
    }
    .container{
        min-height: 574px;
    }
    .container .content .p{
        padding-left: 2vw;
    }


}

/*------------------------------------------Less than 400px----------------------------------------------------------*/
@media (max-width:469px) { 
 
    .wrapper{
        width: 469px;
        height: auto;
        margin: 0rem auto;
        
    }
}